<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>


<p>
  <% @contents.each_with_index do |chap_name, index| %>
    <% array = [] %>
    <% if File.read("data/chp#{@index - 1}.txt")
</p>
