<!doctype html>
<html>

<h1>The Adventures of Shikky</h1>

<div id="main">

  <div class="content">
    <h2 class="content-subhead">Files</h2>

    <div class="pure-menu">
      <ul class="pure-menu-list">
        <% @list_of_files.each do |file| %>
          <li class="pure-menu-item">
            <a href="<%=file_cleaner(file)%>" class="pure-menu-link"><%= file_cleaner(file) %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<button type="button" name="button">Sort Descending</button>

<button type="button" name="button">Sort Ascending</button>

</html>
